.u-section-1 .u-sheet-1 {
  min-height: 867px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 75px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 6rem;
  margin: 54px auto 0 324px;
}

.u-section-1 .u-icon-1 {
  width: 26px;
  height: 26px;
  text-align: start;
  margin: -96px auto 0 650px;
}

.u-section-1 .u-icon-2 {
  width: 26px;
  height: 26px;
  text-align: start;
  margin: -26px auto 0 685px;
}

.u-section-1 .u-icon-3 {
  width: 26px;
  height: 26px;
  text-align: start;
  margin: -26px auto 0 790px;
}

.u-section-1 .u-icon-4 {
  width: 26px;
  height: 26px;
  text-align: start;
  margin: -26px auto 0 720px;
}

.u-section-1 .u-icon-5 {
  width: 26px;
  height: 26px;
  text-align: start;
  margin: -26px auto 0 755px;
}

.u-section-1 .u-text-3 {
  text-align: start;
  font-weight: 700;
  margin: -24px auto 0 557px;
}

.u-section-1 .u-icon-6 {
  width: 26px;
  height: 26px;
  text-align: start;
  margin: 38px auto 0 720px;
}

.u-section-1 .u-icon-7 {
  width: 26px;
  height: 26px;
  text-align: start;
  margin: -26px auto 0 650px;
}

.u-section-1 .u-icon-8 {
  width: 26px;
  height: 26px;
  text-align: start;
  margin: -26px auto 0 685px;
}

.u-section-1 .u-icon-9 {
  width: 26px;
  height: 26px;
  text-align: start;
  margin: -26px auto 0 790px;
}

.u-section-1 .u-icon-10 {
  width: 26px;
  height: 26px;
  text-align: start;
  margin: -26px auto 0 755px;
}

.u-section-1 .u-text-4 {
  text-align: start;
  font-weight: 700;
  margin: -24px auto 0 557px;
}

.u-section-1 .u-line-1 {
  width: 162px;
  height: 3px;
  transform-origin: right center 0px;
  margin: 11px auto 0 310px;
}

.u-section-1 .u-text-5 {
  margin: 9px auto 0 349px;
}

.u-section-1 .u-icon-11 {
  width: 26px;
  height: 26px;
  text-align: start;
  margin: -4px auto 0 720px;
}

.u-section-1 .u-icon-12 {
  width: 26px;
  height: 26px;
  text-align: start;
  margin: -26px auto 0 650px;
}

.u-section-1 .u-icon-13 {
  width: 26px;
  height: 26px;
  text-align: start;
  margin: -26px auto 0 685px;
}

.u-section-1 .u-icon-14 {
  width: 26px;
  height: 26px;
  text-align: start;
  margin: -26px auto 0 790px;
}

.u-section-1 .u-icon-15 {
  width: 26px;
  height: 26px;
  text-align: start;
  margin: -26px auto 0 755px;
}

.u-section-1 .u-text-6 {
  text-align: start;
  font-weight: 700;
  margin: -21px auto 0 557px;
}

.u-section-1 .u-table-1 {
  width: 960px;
  height: 267px;
  margin: 116px auto 0;
}

.u-block-b3d0-55 {
  background-image: none;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-block-b3d0-82 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 31px auto 60px;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-top: -116px;
    margin-left: 267px;
  }

  .u-section-1 .u-icon-1 {
    color: rgb(0, 0, 0) !important;
    margin-top: 63px;
    margin-left: 536px;
  }

  .u-section-1 .u-icon-2 {
    color: rgb(0, 0, 0) !important;
    margin-top: -87px;
    margin-left: 565px;
  }

  .u-section-1 .u-icon-3 {
    color: rgb(0, 0, 0) !important;
    margin-top: -87px;
    margin-left: 651px;
  }

  .u-section-1 .u-icon-4 {
    color: rgb(0, 0, 0) !important;
    margin-top: 119px;
    margin-left: 594px;
  }

  .u-section-1 .u-icon-5 {
    color: rgb(0, 0, 0) !important;
    margin-top: -233px;
    margin-left: 623px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 222px;
    margin-left: 459px;
  }

  .u-section-1 .u-icon-6 {
    color: rgb(0, 0, 0) !important;
    margin-top: 64px;
    margin-left: 594px;
  }

  .u-section-1 .u-icon-7 {
    color: rgb(0, 0, 0) !important;
    margin-top: -87px;
    margin-left: 536px;
  }

  .u-section-1 .u-icon-8 {
    color: rgb(0, 0, 0) !important;
    margin-top: -87px;
    margin-left: 565px;
  }

  .u-section-1 .u-icon-9 {
    color: rgb(0, 0, 0) !important;
    margin-top: -87px;
    margin-left: 651px;
  }

  .u-section-1 .u-icon-10 {
    color: rgb(0, 0, 0) !important;
    margin-top: -87px;
    margin-left: 623px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -82px;
    margin-left: 459px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 194px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -124px;
    margin-left: 287px;
  }

  .u-section-1 .u-icon-11 {
    color: rgb(0, 0, 0) !important;
    margin-top: -54px;
    margin-left: 594px;
  }

  .u-section-1 .u-icon-12 {
    color: rgb(0, 0, 0) !important;
    margin-left: 536px;
  }

  .u-section-1 .u-icon-13 {
    color: rgb(0, 0, 0) !important;
    margin-left: 565px;
  }

  .u-section-1 .u-icon-14 {
    color: rgb(0, 0, 0) !important;
    margin-left: 651px;
  }

  .u-section-1 .u-icon-15 {
    color: rgb(0, 0, 0) !important;
    margin-left: 623px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -23px;
    margin-left: 459px;
  }

  .u-section-1 .u-table-1 {
    width: 940px;
    margin-top: 170px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 205px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 411px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 433px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 499px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 455px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 477px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 352px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 455px;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 411px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 433px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: 499px;
  }

  .u-section-1 .u-icon-10 {
    margin-left: 477px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 352px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 220px;
  }

  .u-section-1 .u-icon-11 {
    margin-left: 455px;
  }

  .u-section-1 .u-icon-12 {
    margin-left: 411px;
  }

  .u-section-1 .u-icon-13 {
    margin-left: 433px;
  }

  .u-section-1 .u-icon-14 {
    margin-left: 499px;
  }

  .u-section-1 .u-icon-15 {
    margin-left: 477px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 352px;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-left: 154px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 308px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 325px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 374px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 341px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 358px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 264px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 341px;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 308px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 325px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: 374px;
  }

  .u-section-1 .u-icon-10 {
    margin-left: 358px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 264px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 165px;
  }

  .u-section-1 .u-icon-11 {
    margin-left: 341px;
  }

  .u-section-1 .u-icon-12 {
    margin-left: 308px;
  }

  .u-section-1 .u-icon-13 {
    margin-left: 325px;
  }

  .u-section-1 .u-icon-14 {
    margin-left: 374px;
  }

  .u-section-1 .u-icon-15 {
    margin-left: 358px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 264px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 97px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 103px;
    margin-left: 194px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 205px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 235px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 158px;
    margin-left: 215px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: -272px;
    margin-left: 225px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 166px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 37px;
    margin-left: 215px;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 194px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 205px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: 235px;
  }

  .u-section-1 .u-icon-10 {
    margin-left: 225px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 166px;
  }

  .u-section-1 .u-line-1 {
    margin-left: 178px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 104px;
  }

  .u-section-1 .u-icon-11 {
    margin-left: 215px;
  }

  .u-section-1 .u-icon-12 {
    margin-left: 194px;
  }

  .u-section-1 .u-icon-13 {
    margin-left: 205px;
  }

  .u-section-1 .u-icon-14 {
    margin-left: 235px;
  }

  .u-section-1 .u-icon-15 {
    margin-left: 225px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 166px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }
}